.text{
    color: white;
}

#header{
    background-color: #a49062;
    width: 100%;
    color: white;
    font-size: max(30px);
    text-align: center;
    padding: 1px;
    font-family: 'Pacifico', cursive;

}

#main{
    background-color: #00366A;
    padding: 1px;
    width: 100%;
    text-align: center;
}

#mainbody{
    display: flex;
    justify-content: space-evenly; 
}

#nav{
    background-color: #353535;
    width: 100%;
    font-size: max(20px);
    color: black;
    text-align: center;
}

#footer {
    background-color: black;
    padding: 1px;
    width: 100%;
    text-align: center;
}

#home{

}

#about{

}

#contact{

}
#Welcome{

}

